<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>실습_서비스배포</title>
</head>

<body>
  <h1>Welcome to MY AWS Servie</h1>
  <a href="/userList">회원목록으로 이동</a>

</body>

</html>